@model GameCatalog.Data.Entities.Developers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Developers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Founder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Founder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Founded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Founded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
